/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}





/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}




.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
      text-align: center;
  transform: translate(-50%, -50%);
  color:white;
      width: 100%;
}
h1 { 
	font-size:5vw !important; 
	font-weight:700 !important;
	letter-spacing: 0.09em;
	 }
p { 
	font-size:2.5vw !important; 
    font-weight: 400;
    color: #f1f1f1b8;
	 }

.thoughts{ 
  letter-spacing: 0.09em;
  font-weight: 200 !important;
	 }
.soon{ 
  letter-spacing: 0.9em;
  font-weight: 400 !important;
	 }
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-control{
    width: 20% !important;
    margin: 0 auto;
    display: inline !important;
    font-size: 1.5vw !important;
    height: 9% !important;
    background: transparent !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1.5; /* Firefox */
  font-size: 1.5vw !important;
  font-weight: 100;
  color:white !important
}
a i {
  color:white;
  font-size: 3vw !important;
    line-height: 2;
}

.btn-default{
	color: white !important;
	padding: 0px !important;
    vertical-align: middle !important;
}
 

 /* ------info.html------ */

/* Top left text */
.left{
  color: white;
  float: left;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.right{
  color: white;
  float: right;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom left text */
.bottomLt {
  bottom: 0;
  color: white;
  float: left;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Bottom right text */
.bottomRt {
  bottom: 0;
  color: white;
  float: right;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Bottom right text */
.bottomCt {
  bottom: 0;
  color: white;
  position: fixed;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.feature {
  font-size: 2.5vw !important;
  font-weight: 400 !important;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.description{
  font-size: 1.0vw !important;
  font-weight: 400;
  color: #f1f1f1b8;
  letter-spacing: 0.09em;
}
.notify{
    /* padding: 10px 20px; */
    font-size: 1.5vw;
    background: white;
    z-index: 1000;
    height: 100%;
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
    background-color: #fff;
    color: #000;
    padding: 0.2em 1em;
    border: none;
    /* background-color: #e85657; */
    /* color: #f9f6e5; */
    letter-spacing: 0.09em;
    overflow: hidden;
    cursor: pointer;
    font-weight: 200;
}